/* Estilos personalizados */

.tabla-articulos{
	padding: 10px;
}
td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

.labelazul{
	text-align:center;
	background-color:#337ab7;
	color:#FFFFFF;
	padding:6px 12px;
	border:1px solid #cccccc;
	border-radius:4px;
}

.labelverdeosc{
	text-align:center;
	background-color:#298A08;
	color:#FFFFFF;
	padding:6px 12px;
	border:1px solid #cccccc;
	border-radius:4px;
}

.labelverde{
	text-align:center;
	background-color:#04B404;
	color:#FFFFFF;
	padding:6px 12px;
	border:1px solid #cccccc;
	border-radius:4px;
}

.labelgris{
	text-align:center;
	background-color:#A4A4A4;
	color:#FFFFFF;
	padding:6px 12px;
	border:1px solid #cccccc;
	border-radius:4px;
}

.labelnaranja{
	text-align:center;
	background-color:#FF8000;
	color:#FFFFFF;
	padding:6px 12px;
	border:1px solid #cccccc;
	border-radius:4px;
}

.labelrojo{
	text-align:center;
	background-color:#DF0101;
	color:#FFFFFF;
	padding:6px 12px;
	border:1px solid #cccccc;
	border-radius:4px;
}
.otros
{
	text-align:center;
	background-color:#FFBF00;
	color:#FFFFFF;
	padding:6px 12px;
	border:1px solid #cccccc;
	border-radius:4px;
}
.bordedropzone
{
	border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}
td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}